<div class="modal fade" id="edit<%= book.id %>" tabindex="-1" aria-labelledby="editLabel<%= book.id %>"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editLabel<%= book.id %>">Edit</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/edit" method="post">
        <div class="modal-body">

          <input type="hidden" name="id" value="<%= book.id %> ">

          <div class="mb-3">
            <label for="title<%= book.id %>" class="form-label">Title</label>
            <input type="text" class="form-control" id="title<%= book.id %>" name="title"
              placeholder="Write your title here..." value="<%= book.title %>">
          </div>

          <div class="mb-3">
            <label for="author<%= book.id %>" class="form-label">Author</label>
            <input type="text" class="form-control" id="author<%= book.id %>" name="author" placeholder="Author name..."
              value="<%= book.author %>">
          </div>

          <div class="mb-3">
            <label for="review<%= book.id %>" class="form-label">Review</label>
            <textarea class="form-control" id="review<%= book.id %>" name="review"
              rows="5"><%= book.review %></textarea>
          </div>

          <div class="mb-3">
            <label class="form-label">Rating</label>
            <div class="rating d-flex flex-row-reverse flex-end justify-content-evenly">

              <input type="radio" class="d-none" name="rating" id="<%= book.id %>-star-5" value="5" <%=book.rating===5
                ? 'checked' : '' %>>
              <label for="<%= book.id %>-star-5"><i class="bi bi-star-fill"></i></label>

              <input type="radio" class="d-none" name="rating" id="<%= book.id %>-star-4" value="4" <%=book.rating===4
                ? 'checked' : '' %>>
              <label for="<%= book.id %>-star-4"><i class="bi bi-star-fill"></i></label>

              <input type="radio" class="d-none" name="rating" id="<%= book.id %>-star-3" value="3" <%=book.rating===3
                ? 'checked' : '' %> >
              <label for="<%= book.id %>-star-3"><i class="bi bi-star-fill"></i></label>

              <input type="radio" class="d-none" name="rating" id="<%= book.id %>-star-2" value="2" <%=book.rating===2
                ? 'checked' : '' %>>
              <label for="<%= book.id %>-star-2"><i class="bi bi-star-fill"></i></label>

              <input type="radio" class="d-none" name="rating" id="<%= book.id %>-star-1" value="1" <%=book.rating===1
                ? 'checked' : '' %>>
              <label for="<%= book.id %>-star-1"><i class="bi bi-star-fill"></i></label>
            </div>
          </div>

          <footer class="modal-footer d-flex flex-row-reverse justify-content-between">
            <div class="flex-end">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
      </form>

      <form action="/delete" method="post">
        <input type="hidden" name="id" value="<%= book.id %> ">
        <button type="submit" class="btn btn-danger">
          <i class="bi bi-trash-fill"></i>
        </button>
      </form>
      </footer>
      <div>
      </div>
    </div>
  </div>
</div>
</div>